@mixin mobile {
    @media screen and (max-width:600px){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:992px){
        @content;
    }
}

@mixin large {
    @media screen and (max-width:1200px){
        @content;
    }
}

.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem;
    background-color: #555;
    color: #fff;
    height: 100vh;
    // border: 1px solid red;
    @include mobile(){
        height: 50vh;
        flex-direction: column;
    }

    .header{
        background: #666;
        color: #fff;
        width: 36%;
        height: 100%;
        display: flex;
        // margin: 0px 50px;
        align-items: center;
        
        justify-content: center;
        flex-direction: column;
        @include mobile(){
            width: 100%;
            align-items: center;
                justify-content: center;
        }

        .wrapper{
            width: 70%;
            height: 70%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            // border: 1px solid red;
            @include mobile(){
                width: 90%;
                
            }
        }

        span h1{
            font-size: 5rem;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
            // border: 1px solid red;
        }

        span p{
            font-size: 2rem;
            // font-weight: 400;
            text-align: left;
            text-transform: capitalize;
        }
    }

    .content{
        background-color: #fff;
        width: 64%;
        height: 100%;
        color: #444;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile(){
            width: 100%;
        }
        span{
            width: 80%;
            font-size: 1.5rem;
            text-transform: capitalize;
        }
    }
}