@mixin mobile {
    @media screen and (max-width:600px){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:992px){
        @content;
    }
}

@mixin large {
    @media screen and (max-width:1200px){
        @content;
    }
}


.contact {
    height: 100vh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #222;
    // border: 1px solid red;

    @include mobile(){
        height: 50vh;
    }

    .wrapper {
        width: 80%;
        height: 80%;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        @include mobile(){
            width: 100%;
            height: 100%;
        }

        .content {
            // border: 1px solid red;
            width: 80%;
            height: 80%;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            

            .heading {
                span {
                    font-size: 5rem;
                    font-weight: 700;
                    text-align: left;
                    text-transform: uppercase;

                }
            }

            .sub-heading {
                margin-bottom: 3rem;
                p {
                    font-size: 2rem;
                    // font-weight: 400;
                    text-align: left;
                    text-transform: capitalize;
                }
            }

            .btn {
                // border: 1px solid red;
                display: flex;
                gap: 2rem;
                align-items: center;
                @include mobile(){
                    flex-direction: column;
                    align-items: flex-start;
                }

                .hello {
                    padding: 1rem 1.8rem;
                    font-size: 1.5rem;
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 20rem;
                    background-color: #d3a877;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #222;
                        color: #fff;
                    }
                }

                .social-media{
                    display: flex;
                    flex-direction: row;
                    gap: 2rem;
                    align-items: center;
                    .social{
                        font-size: 2rem;
                        cursor: pointer;
    
                        &:hover{
                            color: #d3a877;
                        }
                    }

                }

            }
        }
    }
}