@mixin mobile {
    @media screen and (max-width:600px){
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:768px){
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:992px){
        @content;
    }
}

@mixin large {
    @media screen and (max-width:1200px){
        @content;
    }
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    z-index: 999;
    
    padding: 0 5rem;
    height: 7rem;
    color: #222;
  

    border: .1rem solid #cbcbcb;
    text-transform: uppercase;
    background: #fff;
   


    .logo{
        font-size: 2rem;
        font-weight: 600;
        color: #444;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }

    .menu ul{
        display: flex;
        align-items: center;
        @include mobile(){
            display: none;
        }
        
        

        li{
            margin-right: 4rem;
            font-size: 1.5rem;
            cursor: pointer;
            color: #444;

            &:hover{
                color:#d3a877
            }
        }
    }

    .mobile-nav-menu{
        display: none;
        @include mobile(){
            position: fixed;
            left: 0;
            top: 0;
            display: block;
            cursor: pointer;
            color: #fff;
            z-index: 6;
            width: 100%;
            height: 100%;
            background-color: rgb(34, 34, 34);
           ul{
            margin-top: 20rem;
           }
            

            ul>li{
                
                margin-right: 0;
                font-size: 6rem;
                font-weight: bold;
                cursor: pointer;
                color: #fff;
                text-align: center;
                padding: 2rem 0;
                &:hover{
                    color:#d3a877;
                    font-style: italic;
                }
            }
        }
    }

    .hire{
        background-color: #d3a877 ;
        font-size: 1.5rem;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        padding: 1rem 1.8rem;
        color: #fff;
        border-radius: 2rem;
        @include mobile(){
            display: none;
        }
    }
    
    .mobile-menu{

        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.5rem;
        background-color: #d3a877;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
        z-index: 7;
        position: fixed;
        right: 5rem;
        
        

        &:hover{
            background-color: #cbcbcb;
        }
        display: none;

        

        @include mobile(){
            display: flex;
        }
        
    }

    .toggle{
        display: none;
    }

}
