@mixin mobile {
    @media screen and (max-width:600px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:992px) {
        @content;
    }
}

@mixin large {
    @media screen and (max-width:1200px) {
        @content;
    }
}

.skills{
    z-index: 2;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .wrapper{
        width: 80%;
        height: 100%;
        background-color: #8c756b;
        // background-color: #d3a877;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include mobile{
            width: 100%;
        }
        img{
            @include tablet(){
                width: 50px;
            }
        }
    }
}